@import "tailwindcss";

body {
  @apply text-[#1F2937] bg-[#F8FAFC];
}

@layer utilities {
  /* Hide scrollbar but keep scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.course-button {
  @apply w-full py-4 bg-gray-100 hover:bg-gray-200 duration-200 ease-in rounded-lg active:bg-gray-300;
}