@import "tailwindcss";

/* This tells Tailwind v4 to enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

/* Base body styles */
body {
  @apply text-[#1F2937] bg-gray-200;

  /* Dark mode override */
  @apply dark:text-gray-100 dark:bg-gray-900;
}