@import "tailwindcss";

body {
  @apply text-[#1F2937] bg-gray-200;
}

@layer utilities {
  /* Hide scrollbar but keep scrolling */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }
}

